<%= form_with model: interviews do |interviews| %>
    <% interviews.each do |interview| %>
        <div class="interview-container">
          <div class="w-50 h-75 badge bg-<%= Company.where(title: interview.title, select_status: interview.status).present? ? 'danger' : 'primary' %> ">
            <%= I18n.t(interview.status) %>
          </div>
          <div><%= interview.created_at.strftime('%Y年%m月%d日') %></div>
          <div>
            <%= interview.content %>
          </div>
          <div>
            <%= link_to "編集", edit_interview_path(interview.id, title: interview.title), class:" btn btn-primary" %>
          </div>
          <div>
            <%= button_to "削除", @interview, method: :delete, class:" btn btn-danger" if Company.where(title: interview.title, select_status: interview.status).present? %>
          </div>
        </div>
        <br>
      <% end %>
<% end %>