<% content_for :title, "New interview" %>
<div>
  <%= link_to "企業一覧に戻る", interviews_path, class: "btn btn-primary" %>
</div>
<h2>新規企業追加</h2>

<%= form_with(model: @interview) do |form| %>
  <% if @interview.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this @interview from being saved:</h2>

      <ul>
        <% @interview.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-content">
    <div>
      <%= form.label :title, "企業名",  style: "display: block", class: "my-3" %>
      <%= form.text_field :title, :value => params[:title], required: true, class: "form-control w-25" %>
    </div>

    <div>
      <%= form.label :status, "選考状況",  style: "display: block", class: "my-3" %>
      <%= form.select :status, Interview.statuses_i18n.keys.map {|k| [I18n.t("enum.interview.status.#{k}"), k]}, {}, class: "form-control w-25" %>
    </div>

    <div>
      <%= form.label :content, "コメント",  style: "display: block", class: "my-3" %>
      <%= form.text_field :content, class: "form-control w-50 h-100" %>
    </div>

    <div class="my-3">
      <%= form.submit "決定", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

