<%= link_to "企業一覧に戻る", interviews_path, class:" btn btn-primary" %>

<div class="mt-5">
  <%= link_to "新規面接日程追加", new_interview_path(title: @interview.title), class: "btn btn-primary" %>
  <h2>企業詳細</h2>
  <div>
    <%= link_to "編集", edit_interview_path(@interview, title: @interview.title), class:" btn btn-primary" %>
    <%= button_to "削除", @interview, method: :delete, class:" btn btn-danger" %>
  </div>
  <div class="mt-5">
    <h3>企業名: <%= @interview.title %></h3>
    <% @interviews.each do |interview| %>
      <div class="btn btn-outline-primary me-1">
        <%= I18n.t(interview.status) %>
      </div>
      作成日：<%= interview.created_at.strftime('%Y年%m月%d日') %>
      <%= link_to "編集", edit_interview_path(interview.id, title: interview.title), class:" btn btn-primary mx-5" %>
      <div>
        <span class="mx-5 dli-arrow-down"></span>
      </div>
      <br>
    <% end %>
  </div>
</div>